#extStyle{
	color: Green;
}

p {
	color: yellow;
}

*{
	font-family: fantasy;
	font-size: 15px;
}

h1{
	font-size: 30px;
}

h2{
	text-transform: uppercase;
}

.LTBL {
	background-color: gray;
}

.TTBU {
	border: 2px solid black;
}

ol + section {
	color: #075966;
}

#other-things-tobe-learned img {
	height: 150px;
	widows: 150px;
}

h4 ~ p {
	text-align: center;
}

body > section > ul {
	letter-spacing: 25px;
}